<% p = activity_post %>
<% unread ||= false %>
<% start ||= 0 %>
<% i ||= 0 %>
<div class="activity-post<%= ' highlight' if unread %><%= ' hide' if start > i %>">
  <%= image_tag avatar_url(p.user), class: "avatar", title: p.user.login %>
  <div class="body">
    <%= format_body p %>
  </div>
</div>
