=hidden_field_tag "syntax", (@post && !@post.new_record? ? @post.markdown? : current_user.markdown?) ? "md" : "html", :id => "syntax"
%p.comment_box_container
  =f.text_area :body, :class => 'comment_box'
%p.right
  %span.upload_info
  =f.submit @post && !@post.new_record? ? 'Update Comment' : 'Add Comment', :accesskey => "s"
