.comment-box
  %h3 Add a comment  
  =hidden_field_tag "syntax", (@post && !@post.new_record? ? @post.markdown? : current_user.markdown?) ? "md" : "html", :id => "syntax"
  =f.text_area :body, :class => 'comment_box'
  .actions
    %span.upload_info
    =f.submit @post && !@post.new_record? ? 'Update Comment' : 'Post Comment', :accesskey => "s"
