%h2 Search
-form_tag search_channels_path, :method => :get do
  =text_field_tag "search", "", :style => "float: none;", :autocomplete => "off"
  =submit_tag "Go", :name => ''
%h2 Recent Activities
%ul#recent_acitivities
  -@recent_channels.each do |channel|
    %li{:class => "#{'visited' unless channel.visited?(current_user)}"}
      %p
        -count = channel.posts.count
        -if count > 0
          .name= user_name(channel.posts.find(:first, :order => "created_at DESC").user)
        .date
          -if count > 0
            =channel.last_post.strftime('%Y/%m/%d %H:%M:%S')
          -else
            No Posts yet.
        =link_to h(channel.title), channel_path(channel)
      .clear

%br/
%br/
=will_paginate @recent_channels