%ul#recent_acitivities{:class => "#{'refresh' if @page == 1}"}
  -@recent_channels.each do |channel|
    -has_posts = channel.has_posts?(current_user)
    %li{:class => "#{'visited' if has_posts} channel", "data-last-id" => channel.last_post_id}
      -count = channel.posts.count
      .name
        -if count > 0
          -u = Post.first_channel_post(channel).first.user
          .user-color{:style => "background-color: #{u.color}"}
          =render :partial => "shared/user", :object => u
        -else
          &nbsp;
      .date
        -if count > 0 && channel
          =link_to channel.last_post.try(:strftime, '%Y/%m/%d %H:%M:%S'), channel_path(channel, :anchor => channel_anchor(channel, current_user))
        -else
          No Posts yet.
      -if (mentions = channel.num_mentions(current_user)) > 0
        .post-count.mentions= mentions
      =link_to format_title(channel), channel_path(channel), :class => "channel-link"

%br/
%br/
=will_paginate @recent_channels
