%h2 Create a new Channel
-form_for :channel, :url => channels_path do |f|
  %p
    %label{:for => "channel_title"} Title:
    =f.text_field :title
  %p
    %label{:for => "channel_message"} Message:
    %br
    =f.text_area :body, :class => 'comment_box'
  %p.right
    =f.submit 'Create', :accesskey => "s"