-if @channel.can_read?(current_user)
  =render :partial => "header"
  -@channel.posts.each do |post|
    -if post.can_read?(current_user)
      =render :partial => "post", :object => post
      -@last_post_id = post.id
  %hr/
-else
  %p
    You can't read the content of this channel
-if @channel.can_write?(current_user)
  .comment-box-form
    %a{:name => "comments"}
    =form_for :post, :url => channel_posts_path(@channel) do |f|
      =render :partial => "form", :locals => {:f => f}
  .clear
