<% if @channel.can_read?(current_user) %>
  <%= render partial: "header" %>
  <% @posts.each do |post| %>
    <% if post.is_a?(Event) %>
      <%= render partial: "event", object: post %>
    <% elsif post.can_read?(current_user) %>
      <%= render partial: "post", object: post %>
      <% @last_post_id = post.id %>
    <% end %>
  <% end %>

<% else %>
  <p>You can't read the content of this channel</p>
<% end %>

<% if @channel.can_write?(current_user) %>
  <div class="comment-box-form">
    <a name="comments"></a>
    <%= render partial: "form", locals: {form: [:post, :url => channel_posts_path(@channel)]} %>
  <div class="clear"></div>
<% end %>
