-if @channel.can_read?(current_user)
  =render :partial => "header"
  -@posts.each do |post|
    -if post.can_read?(current_user)
      =render :partial => "post", :object => post
      -@last_post_id = post.id
-else
  %p
    You can't read the content of this channel
-if @channel.can_write?(current_user)
  .comment-box-form
    %a{:name => "comments"}
    =render :partial => "form", :locals => {:form => [:post, :url => channel_posts_path(@channel)]}
  .clear
