%h2 Invite a friend
=error_messages_for :invite
-form_for :invite, :url => invites_path do |f|
  %p
    %label{:for => "name"} Name:
    =f.text_field :name
  %p
    %label{:for => "email"} Email:
    =f.text_field :email
  %p.right
    =submit_tag 'Invite'