%h2 All Stylesheets
%ul
  -@stylesheets.each do |stylesheet|
    %li
      =link_to stylesheet.title, root_path(:stylesheet_id => stylesheet.id)
      \-
      -if stylesheet.user_id == current_user.id
        =link_to "Edit", edit_stylesheet_path(stylesheet.id)
      -else
        =user_link(stylesheet.user)

=link_to "Create a new one", new_stylesheet_path