-inbox ||= false
.messages_who
  -if new_features?
    -u = inbox ? message.sender : message.user
    .user-color{:style => "background-color: #{u.color rescue ''}"}
    =render :partial => "shared/user", :object => u if u
  -else
    =message_user_link (inbox ? message.sender : message.user)
.messages_date
  =message.created_at.strftime('%Y/%m/%d %H:%M:%S')
.messages_subject
  =link_to h(message.subject), message_path(message)
.clear
