-inbox ||= false
.messages_who
  -if new_features?
    .user-color{:style => "background-color: #{message.user.color rescue ''}"}
    =render :partial => "shared/user", :object => message.user if message.user
  -else
    =message_user_link (inbox ? message.sender : message.user)
.messages_date
  =message.created_at.strftime('%Y/%m/%d %H:%M:%S')
.messages_subject
  =link_to h(message.subject), message_path(message)
.clear
