%h2 Write message
=render :partial => "navigation"
#message_error
  =error_messages_for(:message)
-form_for :message, @message, :url => { :action => "create" } do |f|
  %p
    %label{:for => "reciever"} To:
    %input{:id => "message_receiver", :name => "receiver_name", :value => params[:receiver_name], :size => "30", :type => "text"}
  %p
    %label{:for => "subject"} Subject:
    =f.text_field :subject
  %p
    %label{:for => "message_body"} Message:
    %br
    =f.text_area :message_body
  %p.right
    =f.submit 'Send Message', :accesskey => "s"