%h2 Write message
=render :partial => "navigation"
#message_error
  =error_messages_for(:message)
-form_for :message, @message, :url => { :action => "create" } do |f|
  %p
    %label{:for => "reciever"} To:
    / =f.text_field :receiver_name, :size => 30
    =f.select :receiver_name, User.all.map { |u| [u.display_name, u.login] }
  %p
    %label{:for => "subject"} Subject:
    =f.text_field :subject
  %p
    %label{:for => "body"} Message:
    %br
    =f.text_area :body
  %p.right
    =f.submit 'Send Message', :accesskey => "s"