*.pid
*.log
.DS_Store
config/database.yml
config/deploy.rb
config/mongrel_cluster.yml
config/ultrasphinx/*.conf
config/environments/production_mailer.rb
public/uploads
Thumbs.db
db/schema.rb
bin
db/development.sqlite3
vendor/bundler_gems
config/ultrasphinx/development.base