<% include_counts ||= false %>
<% if include_counts %>
  <div class="info"><%= render partial: "result_count" %></div>
<% end %>

<% if @view.results %>
  <% @view.results[:objects].each_with_index do |o,i| %>
    <% if o.instance_of?(Post) %>
      <li class="result-post">
        <% o.channel.last_post = o %>
        <%= render partial: "channels/channel", object: o.channel, locals: {element: "div", anchor: channel_post_anchor(o.channel, o)} %>

        <%= render partial: "channels/post", object: o, locals: {faves: o.faves, hide_user: true} %>
      </li>
    <% elsif o.instance_of?(Channel) %>
      <%= render partial: "channels/channel", object: o, locals: {hide_date: true} %>
    <% end %>
  <% end %>
<% end %>
