.notice
  =flash[:notice] || "Login to RedCursor"
=form_tag session_path, :html => {:class => "normal"} do
  %p.login
    %label{:for => "login"} Username
    =text_field_tag 'login'
  %p.password
    %label{:for => "password"} Password
    =password_field_tag 'password'
  .actions
    %span.forgot
    %input{:type => "submit", :value => "Login"}
.clear
