

#content input[type=text], #content input[type=password], #content .input, #content select {
  float: right;
  width: 230px;
  font-size: 18px;
  border: 1px solid black;
  background-color: white;
  line-height: 26px;
}

#content input[type=text].error, #content input[type=password].error {
  border: 2px solid #C74B3F;
}

#content textarea.align_right {
  float: right;
  width: 420px;
  height: 120px;
  border: 1px solid black;
}

#content input#channel_title {
  width: 420px;
}

#content form p {
  clear: both;
}

#main #content form.normal {
  width: 550px;
}

#content .notice {
  background-color: #f9fac5;
  font-size: 14px;
  padding: 5px 20px;
  font-style: italic;
}

#content .forgot {
  font-size: 12px;
  line-height: 24px;
}

#content input[type=submit] {
  font-size: 18px;
  line-height: 24px;
}

#main {
  width: 800px;
  margin: 30px auto;
  text-align:center;
  background-color: #dcf0f7;
  border: 8px solid #5e5e5e;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; 
}

#main #content {
  width: 700px;
  margin: 10px auto 40px auto;
  text-align: left;
  font-size: 16px;
}

#main #content #menu {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

#main #content #menu li {
  display: inline;
  margin-right: 25px;
}

.post {
  border-bottom: 1px solid #B0C0C7;
}

.post .name {
  float: left;
  width: 150px;
}

.post .date {
  float: right;
  margin-left: 20px;
}

.post .body {
  margin-left: 160px;
  margin-bottom: 16px;
}

hr {
  height: 60px;
  border: none;
}

#recent_acitivities {
  display: block;
  margin: 0px;
  padding: 0px;
}

#recent_acitivities li {
  display: block;
  margin: 0px;
}

#recent_acitivities li.visited {
  background-color: #B0C0C7;
}

.date {
  float: right;
  font-size: 12px;
}

.name {
  float: left;
  width: 120px;
}


/*Channel search autocomplete*/
.ui-autocomplete {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}
