<div class="notifications" data-user-id="<%= current_user.id %>">
  <ul class="users">
    <li class="divider"></li>
  </ul>
  <div class="messages">
    <div class="message-list">
    </div>

    <div class="empty">
      <div class="message">
        No messages from <span class="username"></span>.
      </div>
      <div class="message">
        <%= image_tag "notifications-welcome-arrow-down.png" %>
        Write your message.
      </div>
    </div>

    <div class="welcome">
      <div class="message">
        <%= image_tag "notifications-welcome-arrow-left.png" %>
        Select a user to talk to.
      </div>
      <div class="message">
        <%= image_tag "notifications-welcome-arrow-down.png" %>
        Write your message.
      </div>
    </div>

    <div class="response">
      <div class="form">
        <input type="text" class="input" />
        <textarea class="input-text"></textarea>
        <button class="send" accesskey="s">Send</button>
      </div>
    </div>

  </div>
</div>
