<div class="notifications" data-user-id="<%= current_user.id %>">
  <ul class="users">
    <li class="divider divider-top">Conversations</li>
    <li class="divider">No history yet</li>
  </ul>
  <div class="messages">
    <div class="message-list">
    </div>

    <div class="empty">
      <div class="message">
        <%= image_tag "notifications-welcome-arrow-down.png" %>
        Write a message to <span class="username"></span>.
      </div>
    </div>

    <div class="welcome">
      <div class="message">
        <%= image_tag "notifications-welcome-arrow-left.png" %>
        Select a user to chat with&hellip;
      </div>
      <div class="message">
        <%= image_tag "notifications-welcome-arrow-down.png" %>
        and write your message.
      </div>
    </div>

    <div class="response">
      <div class="form">
        <input type="text" class="input" />
        <textarea class="input-text"></textarea>
        <button class="send" accesskey="s">Send</button>
      </div>
    </div>

  </div>
</div>
