<h2>Redcursor IM</h2>

<div class="notifications" data-user-id="<%= current_user.id %>">
  <ul class="users">
  </ul>
  <div class="messages">
    <messages>
    </messages>

    <div class="empty">
      No messages from this user.
    </div>

    <div class="welcome">
      Select a user to start messaging.
    </div>

    <div class="response">
      <div class="form">
        <input type="text" class="input" />
        <textarea class="input-text"></textarea>
        <button class="send">Send</button>
      </div>
    </div>

  </div>
</div>
