.block
  %h2 Edit your Profile
  =error_messages_for :user
  =form_for :user, :url => user_path(@user), :html => {:method => :put, :class => "normal"} do |f|
    %p
      -if new_features?
        %label{:for => "user_avatar"} Avatar:
        =image_tag avatar_url(@user)
        %br/
        =link_to "Change", "http://www.gravatar.com/"
      %p
        %label{:for => "user_email"} Email:
        =f.text_field :email, :disabled => true
    %p
      %label{:for => "user_display_name"} Display Name:
      =f.text_field :display_name
    %p
      %label{:for => "user_color"} Color:
      =f.text_field :color
    -if !new_features?
      %p
        %label{:for => "user_stylesheet_id"} Stylesheet:
        =f.select :stylesheet_id, [["Default", 0]] + Stylesheet.all(:order => "LOWER(title) DESC").map { |s| ["#{h(s.title)} by #{h(s.user.display_name)}", s.id] }
    %p
      %label{:for => "markdown"} Markdown syntax:
      =f.check_box :markdown
    %p
      =f.submit
