<div class="profile">
  <h2>All Users (<%= @users.size %> total)</h2>
  <div class="user-info-list">
    <% @users.each do |user| %>
      <div class="user-info">
        <%= render :partial => "profile", :locals => {:user => user, :avatar_size => 70, :stats => false} %>
      </div>
    <% end %>
  </div>
</div>
