<% text = "**Bold** __Bold__
*Italic* _Italic_
`code`
Link: [Text](http://example.com)
Image: ![Alt-Text](/images/fubot.png)
## Header
### Subheader
1. First\\n1. Second\\n1. Third
- First\\n- Second\\n- Third" %>

<div>
  <div class="line">
    <div class="col-source">
      <h3>Markdown</h3>
    </div>
    <div class="col-rendered">
      <h3>Preview</h3>
    </div>
  </div>

  <% text.lines.each do |line| %>
    <div class="line">
      <% line = line.gsub(/\\n/, "\n") %>
      <div class="col-source">
        <code><pre><%= line %></pre></code>
      </div>
      <div class="col-rendered">
        <%= RenderPipeline.markdown(line).html_safe %>
      </div>
    </div>
  <% end %>
</div>
