<% recent_channels = Channel.recent_channels(current_user, 1) %>
<ul class="channels">
  <li>
    <%= link_to "Home", root_path %>
  </li>
  <% recent_channels.each do |c| %>
    <li>
      <div class="channel mention">
        <!-- <div class="count">10</div> -->
      </div>
      <%= link_to c.title, channel_path(c) %>
    </li>
  <% end %>
</ul>
