<% size ||= 42 %>
<a href="<%= user_path(user) %>" class="user-mini">
  <%= image_tag avatar_url(user, size), :class => "avatar" %>
  <span class="user-name"><%= format_title(user.display_name) %></span>
</a>
