<script type="text/template" id="channel_list_template">
  <ul class="channels">
  </ul>
</script>

<script type="text/template" id="channel_list_item_template">
  <div class="channel<% if(selected) { %> selected <% } %>">
    <span class="title"><%= title %></span>
    <div class="unread_count">10</div>
  </div>
</script>

<script type="text/template" id="channel_template">
  <p>
    <button class="add_comment">+</button>
  </p>
  <div class="posts">
    <div class="loading">Loading posts...</div>
  </div>
  <div class="comment">
    <form action="#" method="post">
      <textarea class="message"></textarea>
      <input type="submit" value="Add Comment" />
    </form>
  </div>
</script>

<script type="text/template" id="post_template">
  <div class="user">
    <%= user.login %>
  </div>
  <div class="date">
    <%= date.getMonth() + "/" + date.getDate() + "/" + date.getFullYear() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() %>
  </div>
  <div class="body">
    <%= body %>
  </div>
</script>

<script type="text/x-handlebars" id="channel-view" data-template-name="channel-view">
  <name>{{title}}</name>
  <content></content>
  <response>
    <button class="respond">Respond</button>
  </response>
</script>

<script type="text/x-handlebars" id="post-view" data-template-name="post-view">
  <author>{{user_name}}</author>
  <date>{{created_at}}</date>
  <text>
    {{{body}}}
  </text>
  <actions>
    <action class="star">*</action>
    <action class="respond">R</action>
  </actions>
</script>

<script type="text/x-handlebars" id="response-view" data-template-name="response-view">
  <text>
    <response>
      <textarea class="response_text_long"></textarea>
      <fieldset>
        <button class="submit">Comment</button>
      </fieldset>
    <response>
  </text>
</script>
