.autocompleter {
  list-style: none;
  background: #fff;
  img {
    max-width: 24px;
    max-height: 24px;
  }
  li {
    line-height: 24px;
    padding: 4px 12px;

    &.highlight {
      background: #e8e8e8;
    }

    .description {
      float: right;
      margin-right: 25px;
      color: #aaa;
    }
  }
}
