input.channel-title {
  margin-top: 0;
}
.channel-title {
  font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  font-size: 38px;
  font-weight: 300;
  line-height: 42px;
  margin-top: 1em;

  .right {
    line-height: 42px;
    a {
      margin-left: 12px;
      margin-right: 10px;
    }

    .ts {
      margin-left: 12px;
      margin-right: 24px;
    }

    .avatar-image {
      max-width: 24px;
      max-height: 24px;
    }
  }
}

input.channel-title {
  line-height: 42px;
  margin-bottom: 0;
  border: 1px solid #b5b5b5;
}
.field_with_errors input.channel-title {
  margin-bottom: 0px;
}
.new-channel-title {
  box-sizing: border-box;
  width: 100%;
}

.channel-title .right, .channel-text .actions {
  display: inline-block;
  font-size: 16px;
  line-height: 42px;
  a {
    color: #8C8C8C;
  }
}

.channel-text .actions {
  float: right;
}

.channel-text {
  textarea {
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    color: #4D4D4D;
    font-size: 15px;
    line-height: 1.4em;
    height: 200px;
    border: 1px solid #b5b5b5;
  }
}
