@import "screen.scss";

.header {
  color: #484848;
  background: #fff;
  z-index: 5;
  border-bottom: 1px solid #e8e8e8;
  border-top: 8px solid #d54e51;
  border-top-image: linear-gradient(to right, #d54e51, #fea979);

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;

  .content {
    height: 38px;
    line-height: 38px;
    position: relative;
    text-align: left;

    .text {
      display: none;
    }

    .more-container {
      display: none;
    }

    .bottom-link {
      padding-right: 5px;
      display: inline-block;
    }

    @media #{$small-screen} {
      height: 58px;
      line-height: 58px;
      margin-left: 5%;
      margin-right: 5%;

      .bottom-link {
        .octicon {
          display: inline;
        }
      }

      .octicon {
        display: none;
        &.menu-indicator, &.search-icon, &.info-icon, &.site-switch-icon {
          display: inline;
        }
      }
      .text {
        display: inline;
      }
      .toolbar-channel-search, .toolbar-info, .toolbar-sites {
        padding: 0px;

        .text {
          display: none;
        }
      }
      .toolbar-info, .toolbar-sites {
        margin-right: 10px;
      }
      .logo {
        width: 38px;
        height: 38px;
      }

      a {
        padding-left: 15px;
        padding-right: 15px;
        &:first-child {
          padding-left: 0px;
        }
      }
    }

    .toolbar-channel-search {
      padding-right: 2px;
    }

    @media #{$large-screen} {
      max-width: 960px;
      margin: 0px auto;

      .logo {
        padding-left: 0px;
      }

      .toolbar-channel-search {
        padding-left: 10px;
        width: 70px;
      }
    }


    position: relative;
  }

  .menu-indicator {
    padding-left: 6px;
  }
}

.header, .more {
  .octicon {
    font-size: 20px;
  }

  a {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #484848;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      padding-left: 0px;
    }
  }
}

.more {
  line-height: 24px;
  text-align: left;

  .octicon {
    display: inline;
    padding-right: 6px;
  }

  .text {
    display: inline;
  }

  a {
    display: block;
    padding: 4px 12px;
    color: #000;

    &:first-child {
      padding-left: 10px;
    }
  }
}
