@import "screen.scss";

.notifications {
  img.avatar {
    max-width: 42px;
    max-height: 42px;
  }

  .show {
    .users {
      display: none;
    }
    .messages {
      display: block;
    }

    @media #{$small-screen} {
      .users {
        display: block;
      }
    }
  }

  .user {
    display: block;
    height: 42px;
    line-height: 42px;
    overflow: hidden;

    a {
      display: block;
      color: #000;
      text-decoration: none;
    }

    .name {
      padding-left: 8px;
    }
    .name div {
      display: inline-block;
      overflow: hidden;
    }
    .indicator {
      background-color: #e85c41;
      border-radius: 16px;
      height: 32px;
      line-height: 32px;
      margin-top: 8px;
      padding: 0px 12px;
      color: #fff;
      float: right;
      display: none;

      &.show {
        display: block;
      }
    }
    .indicator.mention {
      background-color: #59afe3;
    }
  }

  .users {
    display: block;
    // border-right: 1px solid #000;
    padding-bottom: 5px;
    width: 100%;

    @media #{$small-screen} {
      width: 220px;
      float: left;
    }

    &.hide {
      display: none;

      @media #{$small-screen} {
        display: block;
      }
    }

    &::-webkit-scrollbar {
      @media #{$small-screen} {
        display: none;
      }
    }

    .user {
      padding-right: 8px;
      padding-bottom: 4px;
      margin-bottom: 4px;
      color: #999;
      cursor: pointer;

      &.active {
        color: #000;
      }

      &.activity {
        background-color: #ffd;
      }

      &.selected {
        background-color: #EFEFEF;
      }
    }

    .divider {
      display: block;
      background-color: #f2f2f2;
      text-align: center;
      padding: 6px 0px;
      font-size: 13px;
      margin-bottom: 4px;
      margin-top: -5px;
      color: #888;
    }

    .divider-top {
      margin-top: 0px;
    }
  }

  .messages {
    padding: 0px 0px 0px 12px;
    display: none;

    @media #{$small-screen} {
      position: relative;
      margin-left: 220px;
      display: block;

      .back {
        display: none;
      }
    }

    .back {
      color: #fff;
      background: #666;
      border: 0px;
      border-radius: 4px;
      font-size: 16px;
      z-index: 2;
      padding: 8px 12px;
    }

    .message-list {
      display: none;

      &.show {
        display: block;
      }

      padding-right: 8px;
    }


    .empty, .welcome {
      font-size: 22px;
      color: #aaa;
      text-align: center;
      vertical-align: center;

      .message {
        padding-top: 120px;
        line-height: 40px;
        padding-bottom: 40px;

        img {
          margin-right: 24px;
        }
      }
    }

    .empty {
      .username div {
        display: inline;
      }
    }

    .notifications-container {
      position: relative;
    }

    .response {
      text-align: right;
      font-size: 18px;
      background-color: #fff;

      .form {
        background: #EFEFEF;
        border-top: 1px solid #D9D9D9;
        padding: 10px;
      }

      .input-text {
        font-size: 16px;
        line-height: 25px;
        text-align: left;
        box-sizing: border-box;
        width: 75%;
        border: 1px solid #ADADAD;
        background-color: #fff;
        border-radius: 3px;
        display: inline-block;
        height: 30px;
      }

      @media #{$large-phone} {
        .form {
          height: 90px;
        }
        .input-text {
          height: 80px;
        }
      }

      @media #{$small-screen} {
        .form {
          height: 130px;
        }
        .input, .input-text {
          height: 120px;
        }
      }

      .send {
        border: 1px solid #ADADAD;
        background: #fff;
        padding: 8px 12px;
        border-radius: 3px;
        float: right;
        box-sizing: border-box;
        width: 20%;
        margin-left: 5%;

        &:disabled {
          background-color: #ddd;
        }
      }
    }
  }
}

.messages, .notification-list {

  timestamp {
    display: block;
    text-align: center;
    color: #999;
    margin-bottom: 0.5em;
    font-size: 12px;
  }

  message {
    display: block;
    padding: 0px;
    position: relative;
    margin-bottom: 1.5em;
    background-color: #EFEFEF;
    color: #3C3C4E;
    font-size: 16px;
    line-height: 22px;

    from {
      display: block;
      text-align: left;
      position: absolute;
      width: 42px;
      left: 0px;
      top: 0px;

      .name {
        display: none;
      }

      .avatar {
      }
    }

    .body {
      margin-left: 42px;
      margin-right: 0px;
      line-height: 18px;
      min-height: 42px;
      // padding-left: 8px;

      .content {
        padding: 10px;

        img {
          max-width: 508px;
        }

        p {
          margin-bottom: 1em;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }

    &.own {
      text-align: right;

      from {
        text-align: right;
        right: 0px;
        left: auto;
        width: 42px;
      }

      .body {
        margin-right: 42px;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 8px;

        .content {
          color: #000;
        }
      }
    }
  }
}

.notification-list {
  .notification-activity {
    position: relative;
    background: #D8D8D8;
    margin-bottom: 24px;
    min-height: 42px;

    &.read {
      background: #F2F2F2;
    }

    .timestamp {
      float: right;
      padding-right: 2px;
    }
  }

  .notification-link {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  img.avatar {
    max-width: 42px;
    max-height: 42px;
    float: left;
    padding-right: 6px;
  }
}

.header {
  .notification-activity .body {
    font-size: 12px;
  }

  .content .notifications {
    top: 28px;

    a { display: inline; }
  }
}
