.user-profile {

  .title {
    .avatar-image {
      float: left;
      max-width: 128px;
      max-height: 128px;

      padding-right: 32px;
    }

    .user-title {
      font-size: 24px;
      font-weight: normal;
      color: #666;
    }

    .user-link {
      .avatar-image {
        float: none;
        max-width: 24px;
        max-height: 24px;
        padding-right: 4px;
      }
      font-size: 16px;
      display: inline-block;
    }
  }

  .emoji {
    max-width: 18px;
    max-height: 18px;
  }

  .emoji-reaction {
    padding-right: 12px;
  }

  h3 {
    margin-top: 1em;
    border-top: 1px solid #e8e8e8;
    padding-top: 1em;
    margin-bottom: 0.5em;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
  }

  .user-info {
    float: left;
    width: 200px;
  }

  .user-posts, .user-reactions {
    margin-left: 224px;

    h3 {
      font-size: 26px;
    }
  }

  .stat {
    float: right;
  }

}

#container #content .user-profile h2.title {
  font-size: 48px;
  line-height: 64px;
  height: 128px;
}
