$small-phone: "only screen and (max-width : 320px)";
$large-phone: "only screen and (min-width : 321px)";
$small-phone-landscape: "only screen and (max-width : 480px)";
$small-screen: "only screen and (min-width : 800px)";
$large-screen: "only screen and (min-width: 1200px)";

#container {
  #content {

    .body {

      line-height: 1.3em;

      [title] {
        border-bottom: 1px dotted #BBB;
      }

      blockquote {
        border-left: 3px solid black;
        margin: 1em 3px 1em 3px;
        padding: 8px;
      }

      blockquote p {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }

      blockquote p:last-child {
        margin-bottom: 0px;
      }
      blockquote br {
        margin-bottom: 1em;
      }
      p {
        margin-bottom: 1em;
      }
      p:last-child {
        margin-bottom: 0px;
      }
      ul {
        padding-left: 1em;
        margin-bottom: 1em;
      }
      ol {
        padding-left: 1.5em;
        margin-bottom: 1em;
      }
      dt {
        padding-left: 1em;
        margin-bottom: 0.3em;
      }
      dd {
        padding-left: 4em;
        margin-bottom: 0em;
      }


      img {
        max-width: 100%;
      }
    }

    .activity-graph {
      float: left;
      width: 60px;
      height: 32px;
      margin-right: 8px;

      path {
        stroke: #000;
        stroke-width: 1;
        fill: none;
        shape-rendering: geometricPrecision;
      }
    }

    .scroll-loader {
      text-align: center;
      margin-bottom: 1em;

      .space {
        display: inline-block;
        width: 32px;
      }

      a {
        color: #444;
        text-decoration: none;
      }

      a.load-all {
        margin-left: 24px;
      }
    }

    .loader-group {
      clear: both;
    }

    .markItUp {
      border: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;


      .markItUpContainer {
        border: none;
      }
    }

    .actions {
      input[type=file] {
        display: none;
      }
      .info {
        margin-left: 12px;
      }
      form {
        display: inline;
      }
    }

    .pagination {
      margin-top: 2em;
      padding: 8px 16px;
      background-color: #fff;
      border-radius: 8px;
      font-size: 18px;
      text-align: center;
      clear: both;

      a, .gap {
        margin: 0px 4px;
        text-decoration: none;
      }
      .previous_page {
        float: left;
      }
      .next_page {
        float: right;
      }
    }

    .channel-title {
      font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
      font-size: 38px;
      font-weight: 300;
      line-height: 42px;

      .right {
        line-height: 42px;
      }
    }

    input.channel-title {
      line-height: 42px;
      margin-bottom: 0.5em;
    }
    .field_with_errors input.channel-title {
      margin-bottom: 0px;
    }
    .new-channel-title {
      box-sizing: border-box;
      width: 100%;
    }

    .channel-title .right, .channel-text .actions {
      display: inline-block;
      font-size: 16px;
      line-height: 42px;
      a {
        color: #8C8C8C;
      }
    }

    .channel-text .actions {
      float: right;
    }

    .channel-text {
      textarea {
        box-sizing: border-box;
        width: 100%;
        background: transparent;
        color: #4D4D4D;
        line-height: 1.4em;
        height: 200px;
      }
    }

    .channel-list {
      list-style-type: none;

      a {
        text-decoration: none;
      }

      .channel {

        background: #D8D8D8;
        padding: 7px;
        margin-bottom: 10px;
        line-height: 42px;

        .avatar {
          margin-right: 10px;
        }

        .user-name {
          color: #666666;
          display: inline-block;
          width: 130px;
        }

        .channel-name {
          color: #333333;
        }

        &.read {
          background: #F2F2F2;
          .user-name { color: #8C8C8C; }
          .channel-name { color: #595959; }
        }

        @media #{$large-screen} {
          width: 860px;
          float: left;
        }

        @media #{$small-phone-landscape} {

          padding: 0;
          line-height: 26px;

          .avatar {
            margin-right: 4px;
            .avatar-image {
              max-width: 26px;
              max-height: 26px;
            }
          }

          .channel-name {
            display: block;
            line-height: 64px;
            padding: 0 4px;
          }

        }

      }

      .timestamp {

        color: #8C8C8C;

        @media #{$large-screen} {
          width: 70px;
          padding: 7px 0 7px 10px;
          float: left;
          line-height: 42px;
        }
      }

      .channel-loader {
        clear: both;
      }

    }

    .channel-text {
      color: #4D4D4D;
      line-height: 1.4em;

      form {
        display: none;
      }

      .body {
        padding: 20px;
        background: #F2F2F2;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 15px;
      }
    }

    .channel-post, .channel-response {

      background: #F2F2F2;
      border-bottom: 1px solid #E0E0E0;
      margin-bottom: 15px;

      .channel-post-header, .channel-response-header {

        height: 42px;
        background: #484848;
        line-height: 42px;
        color: #E6E6E6;

        a {
          color: #E0E0E0;
          text-decoration: none;
        }

        .avatar {
          margin-right: 10px;
        }

        .faves {
          display: inline-block;
        }

        .right {
          margin-right: 8px;

          a {
            margin-right: 10px;
          }

          .timestamp {
            margin-left: 16px;
          }

        }

        .faves .on .octicon {
          color: #FF0;
        }
        .faves .octicon {
          margin-right: 6px;
        }
      }
    }

    .channel-post {

      &.read .channel-post-header {
        background: #D9D9D9;
        color: #595959;

        .right a {
          color: #474747;
        }
      }

      .body {
        color: #4D4D4D;
        line-height: 1.4em;
        padding: 20px;
      }

    }

    .channel-response-title {
      font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
      font-size: 1.5em;
      font-weight: 300;
      margin: 32px 0px 16px 0px;
    }

    .channel-response {

      .comment-box {
        box-sizing: border-box;
        width: 100%;
        background: transparent;
        color: #4D4D4D;
        line-height: 1.4em;
        height: 200px;
      }

      .actions {
        height: 42px;
        line-height: 42px;
        text-align: right;

        &.left {
          text-align: left;
          float: left;
        }
      }

    }

    .post, .comment-box {

      .autocomplete-image {
        max-width: 22px;
        max-height: 22px;
      }

      .body {
        padding: 12px;
        padding-bottom: 20px;
        min-height: 1em;
      }

      .post-options {
        float: right;
        padding-right: 12px;

        .octicon {
          font-size: 18px;
        }

        a {
          color: #000;
          text-decoration: none;
          padding: 6px;
          border-left: 1px solid #999;
          border-bottom: none;

          &:first-child {
            border-left: none;
          }
        }
      }
    }

    .event {
      margin: 1em 0px;
      text-align: center;
      color: #888;

      .user {
        img {
          max-width: 16px;
          max-height: 16px;
        }

        a {
          text-decoration: none;
          color: #888;
        }

        margin-right: 12px;
      }

      .message {
        em {
          color: #555;
        }
      }
    }

    .select-letters {
      margin: 1em 0px;
      li {
        display: inline;
      }
    }
  }
}
