body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: #ebebeb;
}

a {
  color: #c82127;
}

.clear {
  clear: both;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

blockquote {
  border-left: 3px solid black;
  margin: 0px 0px 0px 10px;
  padding: 8px;
}

.underline {
  text-decoration: underline;
}

.strike_through {
  text-decoration: line-through;
}

#login_container {
  width: 450px;
  margin: 200px auto;
  text-align:center;
  background-color: #dcf0f7;
  border: 8px solid #5e5e5e;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#login_container #content {
  width: 350px;
  margin: 10px auto 40px auto;
  text-align: left;
  font-size: 16px;
}

#login_container #content label {
  width: 105px;
  text-align: center;
}

#main #content label {
  width: 250px;
}

#content label {
  line-height: 26px;
}

/*   MESSAGESYSTEM   */

ul#messages_navigation {
  list-style-type: none;
  padding: 0px;
}

ul#messages_navigation li {
  float: left;
  margin-right: 25px;
}

.messages_active_menu {
  font-weight: bold;
}


ul#message_list {
  list-style-type: none;
  padding: 0px;
}

.message_unread {
  font_weight: bold;
}

.messages_who {
  float: left;
  width: 120px;
}

.messages_date {
  float: right;
  margin-left: 20px;
}


.messages_show_subject {
  margin-bottom: 15px;
}


#content input[type=text]#message_receiver {
  float: none;
}
#content input[type=text]#message_subject {
  float: none;
}

#message_error #errorExplanation h2 {
  font-size: 14px;
}

.match {
  font-weight: bold;
}

.post .date {
  float: right;
  margin-left: 20px;
}

.post .date a {
  float: right;
}

.post .date .fave {
  float: left;
  width: 56px;
  text-align: right;
  padding-right: 10px;
}

.post .date .count {
  text-align: right;
  display: inline;
  padding-right: 10px;
}

.post .date .fave .favorite {
  text-align: right;
}

