/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(asset-path("h1.png"));
}
.markItUp .markItUpButton2 a {
	background-image:url(asset-path("h2.png"));
}
.markItUp .markItUpButton3 a {
	background-image:url(asset-path("h3.png"));
}
.markItUp .markItUpButton4 a {
	background-image:url(asset-path("h4.png"));
}
.markItUp .markItUpButton5 a {
	background-image:url(asset-path("h5.png"));
}
.markItUp .markItUpButton6 a {
	background-image:url(asset-path("h6.png"));
}
.markItUp .markItUpButton7 a {
	background-image:url(asset-path("paragraph.png"));
}

.markItUp .markItUpButton8 a {
	background-image:url(asset-path("bold.png"));
}
.markItUp .markItUpButton9 a {
	background-image:url(asset-path("italic.png"));
}
.markItUp .markItUpButton10 a {
	background-image:url(asset-path("stroke.png"));
}

.markItUp .markItUpButton11 a {
	background-image:url(asset-path("quote.png"));
}

.markItUp .markItUpButton12 a {
	background-image:url(asset-path("list-bullet.png"));
}
.markItUp .markItUpButton13 a {
	background-image:url(asset-path("list-numeric.png"));
}
.markItUp .markItUpButton14 a {
	background-image:url(asset-path("list-item.png"));
}

.markItUp .markItUpButton15 a {
	background-image:url(asset-path("picture.png"));
}
.markItUp .markItUpButton16 a {
	background-image:url(asset-path("link.png"));
}

.markItUp .clean a {
	background-image:url(asset-path("clean.png"));
}
.markItUp .preview a {
	background-image:url(asset-path("preview.png"));
}
