/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:image-url("h1.png"); 
}
.markItUp .markItUpButton2 a {
	background-image:image-url("h2.png"); 
}
.markItUp .markItUpButton3 a {
	background-image:image-url("h3.png"); 
}
.markItUp .markItUpButton4 a {
	background-image:image-url("h4.png"); 
}
.markItUp .markItUpButton5 a {
	background-image:image-url("h5.png"); 
}
.markItUp .markItUpButton6 a {
	background-image:image-url("h6.png"); 
}
.markItUp .markItUpButton7 a {
	background-image:image-url("paragraph.png"); 
}

.markItUp .markItUpButton8 a {
	background-image:image-url("bold.png");
}
.markItUp .markItUpButton9 a {
	background-image:image-url("italic.png");
}
.markItUp .markItUpButton10 a {
	background-image:image-url("stroke.png");
}

.markItUp .markItUpButton11 a {
	background-image:image-url("quote.png");
}

.markItUp .markItUpButton12 a {
	background-image:image-url("list-bullet.png");
}
.markItUp .markItUpButton13 a {
	background-image:image-url("list-numeric.png");
}
.markItUp .markItUpButton14 a {
	background-image:image-url("list-item.png");
}

.markItUp .markItUpButton15 a {
	background-image:image-url("picture.png"); 
}
.markItUp .markItUpButton16 a {
	background-image:image-url("link.png");
}

.markItUp .clean a {
	background-image:image-url("clean.png");
}
.markItUp .preview a {
	background-image:image-url("preview.png");
}
