// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$small-screen: "only screen and (min-width : 800px)";
$large-phone: "only screen and (min-width : 421px)";

.notifications {
  img.avatar {
    max-width: 42px;
    max-height: 42px;
  }

  .show {
    .users {
      display: none;
    }
    .messages {
      display: block;
    }

    @media #{$small-screen} {
      .users {
        display: block;
      }
    }
  }

  .user {
    display: block;
    height: 42px;
    line-height: 42px;
    overflow: hidden;

    a {
      display: block;
      color: #000;
      text-decoration: none;
    }

    .name {
      padding-left: 8px;
    }
    .name div {
      display: inline-block;
      overflow: hidden;
    }
    .indicator {
      background-color: #e85c41;
      border-radius: 16px;
      height: 32px;
      line-height: 32px;
      margin-top: 8px;
      padding: 0px 12px;
      color: #fff;
      float: right;
      display: none;

      &.show {
        display: block;
      }
    }
    .indicator.mention {
      background-color: #59afe3;
    }
  }

  .users {
    display: block;
    // border-right: 1px solid #000;
    padding-bottom: 5px;
    width: 100%;

    @media #{$small-screen} {
      width: 220px;
      float: left;
    }

    &.hide {
      display: none;

      @media #{$small-screen} {
        display: block;
      }
    }

    &::-webkit-scrollbar {
      @media #{$small-screen} {
        display: none;
      }
    }

    .user {
      padding-right: 8px;
      padding-bottom: 4px;
      margin-bottom: 4px;
      color: #999;
      cursor: pointer;

      &.active {
        color: #000;
      }

      &.activity {
        background-color: #ffd;
      }

      &.selected {
        background-color: #EFEFEF;
      }
    }

    .divider {
      display: block;
      background-color: #f2f2f2;
      text-align: center;
      padding: 6px 0px;
      font-size: 13px;
      margin-bottom: 4px;
      margin-top: -5px;
      color: #888;
    }

    .divider-top {
      margin-top: 0px;
    }
  }

  .messages {
    padding: 0px 0px 0px 12px;
    display: none;

    @media #{$small-screen} {
      position: relative;
      margin-left: 220px;
      display: block;

      .back {
        display: none;
      }
    }

    .back {
      color: #fff;
      background: #666;
      border: 0px;
      border-radius: 4px;
      font-size: 16px;
      z-index: 2;
      padding: 8px 12px;
    }

    .message-list {
      -webkit-mask-image: -webkit-gradient(linear, left 25, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      padding-top: 20px;
      display: none;

      &.show {
        display: block;
      }

      padding-right: 8px;
    }

    timestamp {
      display: block;
      text-align: center;
      color: #999;
      margin-bottom: 0.5em;
      font-size: 12px;
    }

    message {
      display: block;
      padding: 0px;
      position: relative;
      margin-bottom: 1.5em;

      from {
        display: block;
        text-align: left;
        position: absolute;
        width: 160px;
        left: 0px;
        top: 0px;

        .avatar {
        }
      }

      .body {
        margin-left: 160px;
        margin-right: 0px;
        // padding-left: 8px;

        .content {
          padding: 12px;
          border-radius: 4px;
          color: #fff;
          background-color: #381;
          font-size: 18px;

          img {
            max-width: 508px;
          }

          p {
            margin-bottom: 1em;

            &:last-child {
              margin-bottom: 0px;
            }
          }

          &:after {
            left: 148px;
          	border: solid transparent;
          	content: " ";
          	height: 0;
          	width: 0;
          	position: absolute;
          	pointer-events: none;
          	border-right: 12px solid #381;
            border-left: none;
          	border-width: 12px;
          	top: 0px;
          	margin-top: 12px;
          }
        }
      }

      &.own {
        text-align: right;

        from {
          text-align: right;
          right: 0px;
          left: auto;
          width: 42px;
          margin-left: 12px;

          .avatar {
          }
          .name {
            display: none;
          }
        }

        .body {
          margin-right: 54px;
          margin-left: 0px;
          padding-left: 0px;
          padding-right: 8px;

          .content {
            color: #000;
            background-color: #f2f2f2;

            &:after {
              right: 50px;
              left: auto;
              border-left: 12px solid #f2f2f2;
              border-right: none;
            }
          }
        }
      }
    }

    .empty, .welcome {
      font-size: 22px;
      color: #aaa;
      text-align: center;
      vertical-align: center;

      .message {
        padding-top: 120px;
        line-height: 40px;
        padding-bottom: 40px;

        img {
          margin-right: 24px;
        }
      }
    }

    .empty {
      .username div {
        display: inline;
      }
    }

    .notifications-container {
      position: relative;
    }

    .response {
      text-align: right;
      font-size: 18px;
      background-color: #fff;

      .form {
        background: #EFEFEF;
        border-top: 1px solid #D9D9D9;
        padding: 10px;
      }

      .input-text {
        font-size: 16px;
        line-height: 25px;
        text-align: left;
        width: 190px;
        border: 1px solid #ADADAD;
        background-color: #fff;
        border-radius: 3px;
        display: inline-block;
        height: 30px;
      }

      @media #{$large-phone} {
        .form {
          height: 90px;
        }
        .input-text {
          width: 290px;
          height: 80px;
        }
      }

      @media #{$small-screen} {
        .form {
          height: 130px;
        }
        .input, .input-text {
          width: 600px;
          height: 120px;
        }
      }

      .send {
        border: 1px solid #ADADAD;
        background: #fff;
        padding: 8px 12px;
        border-radius: 3px;
        float: right;
        margin-left: 20px;

        &:disabled {
          background-color: #ddd;
        }
      }
    }
  }
}
