$small-screen: "only screen and (min-width : 800px)";

.profile {

  .user-info {
    margin-bottom: 1em;

    .avatar {
      margin-right: 4px;
      .avatar-image {
        max-width: 42px;
        max-height: 42px;
      }
    }
  }

  .large {
    font-size: 68px;
    line-height: 128px;

    .avatar {
      margin-right: 4px;
      .avatar-image {
        max-width: 128px;
        max-height: 128px;
      }
    }
  }

  .user-info-list {
    .avatar {
      margin-right: 4px;
      .avatar-image {
        max-width: 26px;
        max-height: 26px;
      }
    }
  }
}


.user-settings {

  label {
    display: block;
    float: left;
    margin: 0px;
    width: 200px;
  }

  input {
  }

  .field {
    margin-left: 210px; 
  }
  .note {
    margin-left: 200px;
    // display: inline-block;
  }
  .field .note {
    margin-left: 0px;
  }

  &.content-block p {
    clear: both;
    margin: 0px;
    margin-bottom: 1em;
    padding: 0px;
  }
}
