$small-phone: "only screen and (max-width : 320px)";
$large-phone: "only screen and (min-width : 321px)";
$small-screen: "only screen and (min-width : 800px)";
$large-screen: "only screen and (min-width: 1200px)";

.right {
  float: right;
}

.avatar {

  display: inline-block;

  .avatar-image {
    max-width: 42px;
    max-height: 42px;
  }

}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  margin: 0px;
}

form {
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  input[type=text], input[type=password] {
    display: block;
    font-size: 16px;
    margin-bottom: 1em;
    border: 1px solid #e2e2e2;
  }
}

.header {
  color: #484848;
  z-index: 5;
  background-color: #f2f2f2;
  border-bottom: 1px solid #eaeaea;

  .content {
    height: 28px;
    line-height: 28px;
    position: relative;

    .text {
      display: none;
    }

    @media #{$small-screen} {
      height: 68px;
      line-height: 68px;

      .octicon {
        display: none;
        &.menu-indicator, &.search-icon {
          display: inline;
        }
      }
      .text {
        display: inline;
      }
      .toolbar-channel-search  {
        padding-right: 0px;

        .text {
          display: none;
        }
      }

      .logo {
        width: 38px;
        height: 38px;
      }

      a {
        padding-left: 35px;
      }
    }

    .toolbar-channel-search {
      float: right;
      padding-right: 2px;
    }

    @media #{$large-screen} {
      max-width: 960px;
      margin: 0px auto;

      .logo {
        padding-left: 0px;
      }

      .toolbar-channel-search {
        padding-right: 2px;
      }
    }


    position: relative;
  }

  .octicon {
    font-size: 20px;
  }

  .menu-indicator {
    padding-left: 12px;
  }

  a {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: #484848;
    padding-left: 15px;
  }

  .more {
    display: none;
  }

  .logo {
    width: 20px;
    height: 20px;
    padding-left: 2px;
  }

  .counters {
    display: inline-block;
    position: relative;
    .counters-inner {
      position: absolute;
      top: 14px;
      left: 12px;
      z-index: 10;
      padding: 1px 3px;
      font-size: 14px;

      .count {
        font-size: 12px;
        line-height: 14px;
        padding: 3px 6px;
        margin-right: 3px;
        background-color: #e85c41;
        border-radius: 12px;
        a {
          display: block;
          text-decoration: none;
          background-color: #e85c41;
          line-height: 14px;
          color: #fff;
          padding: 0px;
          font-size: 14px;
          border: none;
        }
      }
      .count.mentions {
        background-color: #59afe3;
        a {
          background-color: #59afe3;
        }
      }
    }
  }
}

#container {
  padding-top: 1em;

  @media #{$small-screen} {
    margin-left: 5%;
    margin-right: 5%;
  }

  @media #{$large-screen} {
    max-width: 960px;
    margin: 0px auto;
  }

  #content {
    h2 {
      font-size: 32px;
      margin-bottom: 0.5em;
    }
    .block {
      background-color: #fff;
      border: 2px solid #e2e2e2;
      border-radius: 8px;

      ul {
        margin-left: 2em;
      }

      p {
        padding-left: 12px;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }

      h2 {
        font-size: 18px;
        height: 26px;
        line-height: 26px;
        padding-top: 8px;
        padding-right: 16px;
        background-color: #444;
        color: #fff;
        padding-bottom: 8px;
        padding-left: 8px;
        border-bottom: 1px solid #e2e2e2;
        margin-top: 1em;
      }
      h2:first-child {
        margin-top: 0px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }

    .user-mini {
      display: block;
      height: 42px;
      line-height: 42px;
      img.avatar {
        float: left;
        max-width: 42px;
        max-height: 42px;
      }
      .user-name {
      }
      .user-color {
      }
    }

  }

  .toolbar {
    display: none;
    position: absolute;
    z-index: 100;
    top: 32px;
    border: 3px solid #ccc;
    color: #fff;
    background-color: #444;
    padding: 16px;
    border-radius: 8px;

    h3 {
      margin-bottom: 1em;
      font-size: 18px;
    }

    a {
      color: #fff;
    }

    form {
      input {
        display: inline;
        background-color: #444;
        color: #fff;
      }
      .submit {
        height: 26px;
      }
      text-align: right;
    }

    .search, .navigation {
      float: left;
    }

    .navigation {
      ul {
        list-style: none;
        float: left;
        margin-right: 46px;
        li {
        }
      }
    }
  }
  .toolbar.active {
    display: block;
    border-top-left-radius: 0px;
  }
}

.notice {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0px;
}
