$small-phone: "only screen and (max-width : 320px)";
$large-phone: "only screen and (min-width : 321px)";
$small-screen: "only screen and (min-width : 800px)";
$large-screen: "only screen and (min-width: 1200px)";

.right {
  float: right;
}

.avatar {
  display: inline-block;
}
.avatar-image {
  max-width: 32px;
  max-height: 32px;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  margin: 0px;
}

form {
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  input[type=text], input[type=password] {
    display: block;
    font-size: 16px;
    margin-bottom: 1em;
    border: 1px solid #e2e2e2;
  }
  .error {
    color: #B83C4E;
    display: block;
    margin: 0.25em 0px 0.5em 0px;
  }
}

.header {
  color: #484848;
  background: #fff;
  z-index: 5;
  border-bottom: 1px solid #e8e8e8;
  border-top: 8px solid #d54e51;
  border-top-image: linear-gradient(to right, #d54e51, #fea979);

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;

  .content {
    height: 38px;
    line-height: 38px;
    position: relative;
    text-align: left;

    .text {
      display: none;
    }

    .more-container {
      display: inline-block;
      position: relative;
    }

    .more {
      position: absolute;
      top: 4px;
      padding: 8px 24px;
      text-align: left;
      background: #fff;
      color: #484848;
      z-index: 5;
      border: 1px solid #e8e8e8;
      display: none;
      line-height: 24px;

      .octicon {
        display: inline;
        padding-right: 6px;
      }

      .text {
        display: inline;
      }

      a {
        display: block;
        padding: 4px 12px;
      }

      &.show {
        display: inline-block;
      }
    }

    .bottom-link {
      padding-right: 5px;
      display: inline-block;
    }

    @media #{$small-screen} {

      height: 58px;
      line-height: 58px;
      margin-left: 5%;
      margin-right: 5%;

      .more {
        top: 29px;

        a {
          display: block;
        }
      }

      .counters .counters-inner {
        top: 14px;
        left: 14px;
        width: auto;

        .count {
          float: none;
        }
      }

      .bottom-link {
        .octicon {
          display: inline;
        }
      }

      .octicon {
        display: none;
        &.menu-indicator, &.search-icon {
          display: inline;
        }
      }
      .text {
        display: inline;
      }
      .toolbar-channel-search  {
        padding: 0px;

        .text {
          display: none;
        }
      }
      .logo {
        width: 38px;
        height: 38px;
      }

      a {
        padding-left: 15px;
        padding-right: 15px;
        &:first-child {
          padding-left: 0px;
        }
      }
    }

    .toolbar-channel-search {
      padding-right: 2px;
    }

    @media #{$large-screen} {
      max-width: 960px;
      margin: 0px auto;

      .logo {
        padding-left: 0px;
      }

      .toolbar-channel-search {
        padding-left: 10px;
        width: 70px;
      }
    }


    position: relative;
  }

  .octicon {
    font-size: 20px;
  }

  .menu-indicator {
    padding-left: 6px;
  }

  a {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #484848;
    padding-left: 10px;
    padding-right: 10px;

    &:first-child {
      padding-left: 0px;
    }
  }

  .counters {
    display: inline-block;
    position: relative;
    .counters-inner {
      position: absolute;
      top: 2px;
      left: 0px;
      width: 50px;
      z-index: 10;
      padding: 1px 3px;
      font-size: 14px;

      .count {
        float: left;
        font-size: 12px;
        line-height: 14px;
        padding: 3px 6px;
        margin-right: 3px;
        background-color: #e85c41;
        border-radius: 12px;
        a {
          display: block;
          text-decoration: none;
          background-color: #e85c41;
          line-height: 14px;
          color: #fff;
          padding: 0px;
          font-size: 14px;
          border: none;
        }
      }
      .count.mentions {
        background-color: #59afe3;
        a {
          background-color: #59afe3;
        }
      }
    }
  }
}

#container {
  padding-top: 48px;


  @media #{$small-screen} {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 88px;
  }

  @media #{$large-screen} {
    max-width: 960px;
    margin: 0 auto 0 auto;
  }

  #content {
    h2 {
      font-size: 32px;
      margin-bottom: 0.5em;
      margin-top: 1em;
    }

    .markdown-help-show {
      margin: 8px 4px;
      background: #fff;
      padding: 12px;
      position: relative;
      text-align: left;
      display: none;

      .line {
        clear: both;
        .col-source {
          float: left;
          width: 45%;
          line-height: 28px;
          vertical-align: middle;
          margin-bottom: 1em;
        }
        .col-rendered {
          margin-left: 55%;
          right: 0px;
          width: 45%;
          line-height: 28px;
          margin-bottom: 1em;
        }
      }
    }
  }
}

.content-block {
  background: #F2F2F2;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 15px;

  p {
    padding: 10px;
  }

  h3 {
    height: 28px;
    background: #484848;
    line-height: 28px;
    color: #E6E6E6;
    margin-bottom: 1em;

    a {
      display: block;
      color: #E6E6E6;
      text-decoration: none;
    }
  }
}

.content-title {
  font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 32px 0px 16px 0px;
}

.content-button {
  border: 1px solid #b5b5b5;
  background: #fff;
  font-size: 12px;
  padding: 12px 25px;
  border-radius: 3px;
  margin: 0px 4px;
}

.notice {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0px;
}
