$small-phone: "only screen and (max-width : 320px)";
$large-phone: "only screen and (min-width : 321px)";
$small-phone-landscape: "only screen and (max-width : 480px)";
$small-screen: "only screen and (min-width : 800px)";
$large-screen: "only screen and (min-width: 1200px)";
