<!doctype html>
<html>
  <head>
    <title>fu2</title>
    <%= stylesheet_link_tag    "fu3" %>
    <%= javascript_include_tag "fu3" %>
    <%= csrf_meta_tags %>
    <%= fu3_templates %>
  </head>
  <body>

    <div id="container">
      <h1 id="title">FU3</h1>

      <div id="content" class="container_12">
      </div>
    </div>

  </body>
</html>
