<!doctype html>
<html>
  <head>
    <title>fu3</title>
    <%= stylesheet_link_tag    "fu3" %>
    <%= javascript_include_tag "fu3" %>
    <%= csrf_meta_tags %>
    <%= fu3_templates %>
  </head>
  <body>

    <channel>
      <name>Fu2 down!</name>

      <bubble>
        <author>mutle</author>
        <date>2.10.2012 - 19:00</date>
        <text>
          <p>
            <blockquote>Since its inception, the Drug Enforcement Administration's Domestic Cannabis Eradication/Suppression Program has spent roughly $200 million eradicating "ditchweed," or feral marijuana plants that contain no THC (the chemical in marijuana that gets you high). Even though feral marijuana can't give you a buzz, for years the DEA used it to hype the specter of domestic pot production and pad out its annual DCE/SP report. How much padding, exactly? <strong>Roughly 98 percent of the marijuana the DEA destroys in a given year is worthless as a drug</strong> (though not as industrial hemp, outlawed since the 1930s).</blockquote>
          </p>

          <p>http://andrewsullivan.thedailybeast.com/2012/07/drug-war-accounting-tricks.html</p>
        </text>
      </bubble>

      <bubble>
        <author>mutle</author>
        <date>2.10.2012 - 19:00</date>
        <text>
          <p>
            <blockquote>Since its inception, the Drug Enforcement Administration's Domestic Cannabis Eradication/Suppression Program has spent roughly $200 million eradicating "ditchweed," or feral marijuana plants that contain no THC (the chemical in marijuana that gets you high). Even though feral marijuana can't give you a buzz, for years the DEA used it to hype the specter of domestic pot production and pad out its annual DCE/SP report. How much padding, exactly? <strong>Roughly 98 percent of the marijuana the DEA destroys in a given year is worthless as a drug</strong> (though not as industrial hemp, outlawed since the 1930s).</blockquote>
          </p>

          <p>http://andrewsullivan.thedailybeast.com/2012/07/drug-war-accounting-tricks.html</p>
        </text>
      </bubble>

      <bubble class="response">
        <text>
          <response>
            <form>
              <input class="response_text" type="text" />
              <input class="submit" type="submit" value="Comment" />
            </form>
          <response>
        </text>
      </bubble>

    </channel>

  </body>
</html>
