<!doctype html>
<html>
  <head>
    <title>redcursor</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  </head>
  <body>

    <div id="container">

      <div id="login_container">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
